<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <style>
            body {
                background-image: url("images/mountain-range-covered-in-snow-background.jpeg");
                background-color: #323965;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: top;
                font-family: bradley hand, cursive;
                height: 100%;
            }

            .wrapper {
                background: rgba(89,85,85,0.5);
                margin: auto;
                padding: 1em;
                max-width: 800px;
                border-radius: 10px;
            }

            h1 {
                text-align: center;
                font-size: 44pt;
                color: #FFF;
            }

            #mission-wrapper {
                display: flex;
                flex-flow: wrap;
                max-width: 80vw;
                margin: 0 auto;
                justify-content: center;
            }

            #mission-wrapper div {
                display: flex;
                width: 5em;
                height: 3em;
                color: #FFF;
                border: 1px solid black;
                margin: 15px 5px;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                text-decoration: none;
                font-size: 36pt;
                font-weight: bold;
            }

            .mission-item {
                background-color: #F00;
            }

            .mission-item.complete {
                background-color: #378B29;
            }
            
            .sky {
                height: 80vh;
                color: #FFF;
                display: block;
            }
            #overlay {
                position: fixed;
                width: 100%;
                height: 500px;
                bottom: -500px;
                left: 0;
                right: 0;
                background-color: rgba(0,0,0,0.5);
                z-index: 2;
                cursor: pointer;
                transition-property: bottom;
                transition-duration: .5s;
                display: flex;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        
        <script type="text/javascript" charset="utf-8">
            async function runLoop() {
                console.log('in runLoop():', new Date());
                fetch("checkNewScans?id=<%= id %>&missionId=<%= missionId %>", {
                    headers: {
                        'Content-type': 'application/json'
                    },
                    method: 'GET'
                })
                .then(res => res.json())
                .then((data) => {
                    if (!!data?.sensor_id) {
                        if (data.is_collected == 0) {
                            const missionTile = document.getElementById("sensorId" + data.sensor_id);

                            if (!!missionTile) {
                                missionTile.style.backgroundColor = '#378B29';
                                on(data.img_url);
                                playAudio(data.audio_url);
                            }

                            fetch("checkMissionProgress?id=<%= id %>&missionId=<%= missionId %>", {
                                headers: {
                                    'Content-type': 'application/json'
                                },
                                method: 'GET'
                            })
                        }
                    }
                });
                setTimeout(runLoop, 1000);
            }
            
            function on(url) {
                document.getElementById("overlay-image").src = url;
                document.getElementById("overlay").style.bottom = "0";
                setTimeout(off, 2500);
            }

            function off() {
                document.getElementById("overlay").style.bottom = "-500px";
            }

            function playAudio(audio) {
                const audioUrl = "http://192.168.0.146:3000/" + audio;
                var audio = new Audio(audioUrl);
                audio.play();
            }
        </script>
        <title>Traps 2023</title>
    </head>
    <body onload="runLoop()">
        <section class="sky">
            <div class="wrapper">
                <h1>Select a mission to start</h1>
                <div id="mission-wrapper">
                    <% missionDetails.forEach(mission => { %>
                        <div
                            id="sensorId<%= mission.sensor_id %>"
                            class="mission-item <%= mission.is_collected == 1 ? 'complete' : '' %>"
                            style="display: <%= mission.display == 1 ? 'block' : 'none' %>;">
                            <%= mission.item %>
                        </div>
                    <% }) %>
                </div>
                <a id="back-button" href="/dashboard?id=<%= id %>&difficulty=<%= difficulty %>"><img src="/images/leftArrow.png" /></a>
            </div>
        </section>
        <div id="overlay" onclick="off()">
            <img id="overlay-image" src="" style="max-height: 500px; margin: 0 auto;" /> 
        </div>
    </body>
</html>
