<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <style>
            body {
                background-image: url("images/mountain-range-covered-in-snow-background.jpeg");
                background-color: #323965;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: top;
                font-family: bradley hand, cursive;
                height: 100%;
            }

            .wrapper {
                background: rgba(89,85,85,0.5);
                margin: auto;
                padding: 1em;
                max-width: 800px;
                border-radius: 10px;
            }

            h1 {
                text-align: center;
                font-size: 44pt;
                color: #FFF;
            }

            #mission-wrapper {
                display: flex;
                flex-flow: wrap;
                max-width: 80vw;
                margin: 0 auto;
                justify-content: center;
            }

            #mission-wrapper div {
                display: flex;
                width: 5em;
                height: 3em;
                color: #FFF;
                border: 1px solid black;
                margin: 15px 5px;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                text-decoration: none;
                font-size: 36pt;
                font-weight: bold;
            }

            .mission-item {
                background-color: #F00;
            }

            .mission-item.complete {
                background-color: #378B29;
            }
            
            .sky {
                height: 80vh;
                color: #FFF;
                display: block;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        
        <script type="text/javascript" charset="utf-8">
            async function runLoop() {
                fetch("checkNewScans?id=<%= id %>&missionId=<%= missionId %>", {
                    headers: {
                        'Content-type': 'application/json'
                    },
                    method: 'GET'
                })
                .then(res => res.json())
                .then((data) => {
                    if (!!data?.sensor_id) {
                        const missionTile = document.getElementById("sensorId" + data.sensor_id);

                        if (!!missionTile) {
                            missionTile.style.backgroundColor = '#378B29';
                        }
                    }
                });
                setTimeout(runLoop, 1000);
            }
        </script>
        <title>Traps 2023</title>
    </head>
    <body onload="runLoop()">
        <section class="sky">
            <div class="wrapper">
                <h1>Select a mission to start</h1>
                <div id="mission-wrapper">
                    <% missionDetails.forEach(mission => { %>
                        <div
                            id="sensorId<%= mission.sensor_id %>"
                            class="mission-item <%= mission.is_collected == 1 ? 'complete' : '' %>"
                            style="display: <%= mission.display == 1 ? 'block' : 'none' %>;">
                            <%= mission.item %>
                        </div>
                    <% }) %>
                </div>
                <a id="back-button" href="/dashboard?id=<%= id %>&difficulty=<%= difficulty %>"><img src="/images/leftArrow.png" /></a>
            </div>
        </section>
    </body>
</html>
